@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
:root{
    --theme-text: #2d3748;
    --theme-text-dull: #5c6069; 
    --theme-text-long: #718096;
    --theme-color: #0081EB;
    --theme-color-hover: #0062B3;
    --theme-section-bg: #F6F7FC;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--theme-text);
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 10px;
}

html::-webkit-scrollbar{
    width: 20px;
}

html::-webkit-scrollbar-thumb{
    background-color: #bfd5e7;
    /*border-radius: 10px;*/
    /*border: 1px solid #F6F7FC;*/
}
html::-webkit-scrollbar-track{
    background-color: #b3b7be;
}